/GameArchiveLib/bin/Debug/GameArchiveLib.dll
/GameArchiveLib/bin/Debug/GameArchiveLib.pdb
/GameArchiveLib/obj/Release/GameArchiveLib.csprojResolveAssemblyReference.cache
/GameArchiveTests/bin/Debug/GameArchiveLib.dll
/GameArchiveTests/bin/Debug/GameArchiveLib.pdb
/GameArchiveTests/bin/Debug/GameArchiveTests.dll
/GameArchiveTests/bin/Debug/GameArchiveTests.pdb
/GameArchiveTests/bin/Debug/GameDataLib.dll
/GameArchiveTests/bin/Debug/GameDataLib.pdb
/GameArchiveTests/bin/Debug/GameGraphicsLib.dll
/GameArchiveTests/bin/Debug/GameGraphicsLib.pdb
/GameArchiveTests/bin/Debug/GameObjectLib.dll
/GameArchiveTests/bin/Debug/GameObjectLib.pdb
/GameArchiveTests/bin/Debug/GameObserverLib.dll
/GameArchiveTests/bin/Debug/GameObserverLib.pdb
/GameArchiveTests/bin/Debug/Messaging.dll
/GameArchiveTests/bin/Debug/Messaging.pdb
/GameArchiveTests/bin/Debug/MonoGame.Framework.dll
/GameArchiveTests/bin/Debug/MonoGame.Framework.xml
/GameArchiveTests/bin/Debug/SharpDX.DXGI.dll
/GameArchiveTests/bin/Debug/SharpDX.Direct2D1.dll
/GameArchiveTests/bin/Debug/SharpDX.Direct3D11.dll
/GameArchiveTests/bin/Debug/SharpDX.Direct3D9.dll
/GameArchiveTests/bin/Debug/SharpDX.MediaFoundation.dll
/GameArchiveTests/bin/Debug/SharpDX.RawInput.dll
/GameArchiveTests/bin/Debug/SharpDX.XAudio2.dll
/GameArchiveTests/bin/Debug/SharpDX.XInput.dll
/GameArchiveTests/bin/Debug/SharpDX.dll
/GameArchiveTests/bin/Debug/nunit.framework.dll
/GameArchiveTests/bin/Debug/nunit.framework.xml
